<!DOCTYPE html>
<html>
<head>
  <title>Ideabox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script>
  $(function() {
    $('form#createIdea').submit(Ideas.create);
    $('form#secretForm').submit(Ideas.update);
    Ideas.loadAll();
    $('.ideas').on('click', 'button.edit', Ideas.showForm);
    $('.ideas').on('click', 'button.delete', Ideas.delete);
    $('.ideas').on('click', 'button.thumbsUp', Ideas.ratingUp);
    $('.ideas').on('click', 'button.thumbsDown', Ideas.ratingDown);
    $('input[name=search]').keyup(Ideas.search)
  });
</script>

</body>
</html>
